<h1>Home#index</h1>

<div class="columns">
  <div class="column">
    <h2 class="title is-2">Top 10 Movies</h2>
    <ol class="ml-5">
      <% @movies.each do |movie| %>
        <li>
          <%= link_to movie.title, movie %>
          <em>(<%= movie.production_company.name %>)</em>
        </li>
      <% end %>
    </ol>
    <p class="mt-5">
<<<<<<< HEAD
      <strong><%= link_to '👉 See the Top 100 Movies', movies_path %></strong>
    </p>

=======
      <strong><%= link_to '👉 See the Top 100 Movies', movies_path%>
    </p>
>>>>>>> railsAtTheMovies-EOD-Jan26,2022
  </div>

  <div class="column">
  <h2 class="title is-2">Top 10 Production Companies</h2>
    <ol class="ml-5">
<<<<<<< HEAD
      <%= render @production_companies %>
    </ol>
    <p class="mt-5">
      <strong><%= link_to '👉 See the Top Production Companies', production_companies_path %></strong>
=======
       <%= render @production_companies %>
    </ol>
    <p class="mt-5">
      <strong><%= link_to '👉 See the Top Production Companies', production_companies_path%>
>>>>>>> railsAtTheMovies-EOD-Jan26,2022
    </p>
  </div>
</div>
