<hr>
<footer>
<<<<<<< HEAD
  <p><em>Copywrong IMDB 2021</em></p>
  <ul class="mt-5">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Top 100 Movies", movies_path %></li>
    <li><%= link_to "Top Production Companies", production_companies_path %></li>
=======
  <ul>
    <li><%= link_to "Home", root_path%></li>
    <li><%= link_to "Top 100 Movies", movies_path %></li>
    <li><%= link_to "Top Production Companies", production_companies_path%></li>
    <% cms_pages.each  do |page|%>
      <li><%= link_to page.title, permalink_path(page.permalink) %></li>
    <%end%>
>>>>>>> railsAtTheMovies-EOD-Jan26,2022
  </ul>
</footer>