<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:html_title) + "-" if content_for?(:html_title)  %> Top 100 Movies</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>

  <body>
    <section class="section">
      <div class="container">
        <h1 class="title is-1">Top Movies From IMDB</h1>
        <%= yield %>
      </div>
    </section>
    <% if controller_name == 'home' %>
      <p>There's is no place like home!</p>
    <% else %>
      <%= render partial: 'common/footer' %>
    <% end %>
  </body>
</html>
